* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 54, 55);
    color: white;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-weight: bolder;
    font-size: 3rem;
}

.clock {
    width: 43%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    background-color: rgb(19, 113, 4);
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: row;
}

.hr,
.min,
.sec,
.colon {
    font-size: 4rem;
    font-weight: bolder;
}
.colon{
    margin-top: 10px;
}

.hr,
.min,
.sec {
    text-align: center;
    background-color: rgb(5, 86, 26);
    border-radius: 15px;
    width: 100px;
    margin: 10px;
    padding: 5px;
}

.ampm {
    position: relative;
    top: 60px;
    font-size: 3rem;
}

footer {
    text-align: center;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
  }

  footer a:visited {
    color: inherit;
  }